.desaprobado {
  color: red;
}

.aprobado {
  color:green;
}

ul {
  display: flex;
  flex-direction: column;
}

.div {
  display: flex;
}

li {
  list-style-type: none;
}

.libre {
  color: red;
}

.ok {
  color: blue;
}

.si {
  color: green;
  font-weight: 800;
}

.no {
  color: red;
  font-weight: 800;
}