<button (click)="mostrarLista = !mostrarLista">Ver lista de alumnos</button>

@if(mostrarLista){

  <div class="div">
    <ul>
      <p
      [ngStyle]="{
        'text-decoration': 'underline',
      }"
      >Alumno</p>
      <li 
      *ngFor="let estudiante of estudiantes">
        {{estudiante.nombre}}
      </li>
    </ul>
    <ul>
      <p
      [ngStyle]="{
        'text-decoration': 'underline',
      }"
      >Nota</p>
      <li 
      *ngFor="let estudiante of estudiantes"
      [ngStyle]="{
        'text-align': 'center'
      }"
      >
        {{estudiante.nota}}
      </li>
    </ul>
    <ul>
      <p
      [ngStyle]="{
        'text-decoration': 'underline',
      }"
      >Condición</p>
      <li
      [ngClass]="estudiante.aprobado ? 'aprobado' : 'desaprobado'"
      [style.font-weight]="estudiante.aprobado ? 400 : 700" 
      *ngFor="let estudiante of estudiantes">
      {{estudiante.aprobado ? "Aprobado": "Desaprobado"}}
      </li>
    </ul>
    <ul>
      <p
      [ngStyle]="{
        'text-decoration': 'underline',
      }"
      >Condición de faltas</p>
      <li
      [ngClass]="estudiante.libre ? 'libre' : 'ok'"
      [style.font-weight]="estudiante.libre ? 700 : 400" 
      *ngFor="let estudiante of estudiantes">
      {{estudiante.libre ? "Libre": "Regular"}}
      </li>
    </ul>
    <ul>
      <p
      [ngStyle]="{
        'text-decoration': 'underline',
      }"
      >Promoción</p>
      <li
      [ngClass]="estudiante.promocion ? 'si' : 'no'"
      *ngFor="let estudiante of estudiantes">
      {{estudiante.promocion ? "Sí": "No"}}
      </li>
    </ul>
  </div>

  }
